@using EzTravel.Community.Core.Enums
@using EzTravel.Community.Web.Models.ViewModels
@model ProductDetailViewModel
@{
    ViewData["Title"] = Model.Name;
}

<article class="product-detail">
    <header class="product-detail__hero">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="@Model.Name" class="product-detail__image" />
        }
        <h1 class="product-detail__title">@Model.Name</h1>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p class="product-detail__desc">@Model.Description</p>
        }
    </header>

    @switch (Model.Category)
    {
        case ProductCategory.GroupTour:
            <partial name="_Product_GroupTour" model="Model" />
            break;
        case ProductCategory.FreeTour:
            <partial name="_Product_FreeTour" model="Model" />
            break;
        case ProductCategory.Hotel:
            <partial name="_Product_Hotel" model="Model" />
            break;
        case ProductCategory.Ticket:
            <partial name="_Product_Ticket" model="Model" />
            break;
        case ProductCategory.Attraction:
            <partial name="_Product_Attraction" model="Model" />
            break;
    }

    <section class="product-detail__community">
        <partial name="_CommunityModule" model="Model" />
    </section>
</article>
