@using EzTravel.Community.Web.Models.ViewModels
@model PageDataViewModel
@{
    ViewData["Title"] = "首頁";
}

@if (Model is null)
{
    <div class="alert alert-warning">首頁資料尚未載入,請確認 data/homepage/homepage.json 是否存在。</div>
}
else
{
    @foreach (var sec in Model.Sections)
    {
        <div id="@sec.Id" class="page-section page-section--@sec.Type">
            @if (!string.IsNullOrEmpty(sec.Title))
            {
                <h2 class="page-section__title">@sec.Title</h2>
            }
            @switch (sec.Type)
            {
                case "hero_banner":
                case "banner":
                case "banner_carousel":
                    @await Html.PartialAsync("_Section_Banner", sec)
                    break;
                case "category_nav":
                case "navigation":
                case "quick_links":
                    @await Html.PartialAsync("_Section_CategoryNav", sec)
                    break;
                case "featured_items":
                case "featured_grid":
                case "product_list":
                    @await Html.PartialAsync("_Section_FeaturedGrid", sec)
                    break;
                case "promo_card":
                case "promo":
                case "promo_section":
                    @await Html.PartialAsync("_Section_PromoCard", sec)
                    break;
                case "search_bar":
                case "search_form":
                    @await Html.PartialAsync("_Section_SearchForm", sec)
                    break;
                case "footer":
                    @await Html.PartialAsync("_Section_Footer", sec)
                    break;
                default:
                    @await Html.PartialAsync("_Section_Generic", sec)
                    break;
            }
        </div>
    }
}
